#logo{
    width: 200px;
    height: auto;
}

#name{
    width: 300px;
    height: auto;
    margin-left: -90px;
}

a{
    text-decoration: none;
    font-size: 30px;
    color: black;
}

.navBar{
    display: flex;
    align-items: center;
    justify-content: center;
}

a:hover{
    color: #3895f5;
}